/* Here you can write your CSS code */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
    background-color: #292929;
}

/*Main Enterprise bar*/

.l-header {
  background-color: rgba(0,0,0,0.92);
  height: 60px;
}

.c-nav [role="menuitem"].is-active {
    color: #2997ff;
  }

  @media only screen and (min-width: 1000px) {
    .l-header .c-nav--main {
      float: right;
    }
    .l-header .c-nav--main [role="menubar"] {
      margin: 0px 75px 0px 0;
    }
  }

/*End main Enterprise bar*/

/* Start Barra Enterprise Secundaria */
.enter-subnav__brand__link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Roboto", sans-serif;
  }
  .u-bg-gray-light {
    background-color: rgba(29,29,31,0.9) !important;
  }
  /* End Barra Enterprise Secundaria */
  
  /* Start Boton Empezar */
  .enter-subnav__cta {
    background-color: rgb(249,246,239);
    color: #292929;

  }
  .enter-subnav__cta:hover,
  .enter-subnav__cta:focus {
  background: rgb(160, 159, 156);
  color: #292929;
}
  /* End Boton Empezar */

/* Start Primary Enterprise Navbar links */
.c-nav [role="menuitem"] {
    font-size: 14px;
    font-size: 0.875rem;
    letter-spacing: -0.56px;
    letter-spacing: -0.035rem;
    color: #92989b;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 1.35;
    padding: 20px;
    text-transform: uppercase;
  }
  .c-nav [role="menuitem"]:active,
  .c-nav [role="menuitem"]:focus,
  .c-nav [role="menuitem"]:hover {
    color: #fff;
    text-decoration: none;
  }
  .c-nav--main .btn--search {
    color: #92989b;
    position: absolute;
    right: 0px;
    top: 6px;
  }
/* End Primary Enterprise Navbar links */

/*Secondary Enterprise Navbar link colors*/
.enter-subnav .enter-subnav__nav-link:hover,
.enter-subnav .enter-subnav__nav-link.is-active,
.enter-subnav .enter-subnav__nav-link.open {
  color: #2997ff;
}

.enter-subnav {
    color: rgb(249,246,239);
    font-weight: 400;
  }
/* End Secondary Enterprise navbar link colors */

/* Start Android Logo */

  .logo-android__wordmark-icon {
    color: rgb(249,246,239);
  }
  .logo-android__andy-icon {
    fill: rgb(249,246,239);
  }
  
  @media only screen and (min-width: 1000px) {
    .l-header .logo-android {
      height: 26px;
      margin: 17px 30px 17px 40px;
      width: 121px;
    }
    .l-header .logo-android__wordmark-icon {
      height: 26px;
      padding: 0;
      width: 121px;
    }
    .l-header .c-toggle {
        margin: 23px 14px 33px 20px;
      }

/*End Android Logo*/


/* Start Background-color Page */
  html {
    font-size: 100%;
    background-color: #292929;
    background-color: #000;
    color: #263238;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
  }
  /* End Background-color Page */

  /* Start Color Fonts Carrusel*/
  @media only screen and (min-width: 1000px) {
    .text-normal {
      font-size: 22px;
      font-size: 1.375rem;
      color: #fff;
      padding: 0 40px;
    }
  /* End Color Fonts Carrusel */


/*Start Carousel article*/
.enter--home .section-hero .slide__content {
    white-space: normal;
    width: 35%;
    height: 500px;
    margin-top: 50px;
    z-index: 1;

  }
  .l-section .beta {
    margin-bottom: 30px;
    color: #fff;
    padding: 0 40px;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.08349;
  }

  @media only screen and (min-width: 1000px) {
    .enter--home .section-hero .slide__text {
      max-width: 20em;
      font-weight: 400;
      font-size: 21px;
      line-height: 1.381;
    }

/*End Carousel article*/
/*Start Carousel images*/

.enter--home .section-hero {
    padding-top: 0;
  }

  @media only screen and (min-width: 1000px) {
    @media (min-width: 1000px) {
        .enter--home .section-hero .simple-carousel__items {
          height: 750px;
        }
    }
    
    /*Slider images*/
    .enter--home .section-hero .slide {
      height: 100%;
      margin: 0 auto;
      max-width: 98.5%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.496);
    }
    
    .enter--home .section-hero .slide .slide__img {
        height: 90%;
        width: 100%;
        object-fit: cover;
        margin: 0 auto;
      }

    /* Start Slide Filter images */
      .slide__img{
        filter: grayscale(90%);
        z-index: -1;
      }

      /* End Slide Filter images */

  /*End Carousel images*/
  
  /* Start Btn Carrussel */
  .btn {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    /* border: 2px solid #2997ff; */
    border-radius: 5px;
    color: #1e63a3;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 21px;
    font-weight: 400;
    margin: 0;
    padding: 12px 46px;
    text-transform: uppercase;
    -webkit-transition: all 100ms cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: all 100ms cubic-bezier(0.25, 0.1, 0.25, 1);
    white-space: nowrap;
  }
  .btn:hover,
  .btn:focus {
    color: #2997ff;
    text-decoration: none;
  }
  [aria-selected="true"] .c-pager__item-link {
    background-color: #1e63a3;
  }
  /* End Btn Carrussel */

  /* Start H1.H2 Area */
  .prose__title, .mobile-gamma{
    color: #fff;
  }
  /* End H1, H2 Area */

  /* Start Btn Final Area */
  .btn {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    /* border: 2px solid; */
    border-radius: 5px #1e63a3;
    color: #1e63a3;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 21px;
    font-weight: bold;
    margin: 0;
    padding: 12px 46px;
    text-transform: uppercase;
    -webkit-transition: all 100ms cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: all 100ms cubic-bezier(0.25, 0.1, 0.25, 1);
    white-space: nowrap;
  }
  .btn:hover,
  .btn:focus {
    border-color: #2997ff;
    color: #2997ff;
    text-decoration: none;
  }
  /* End Btn Final Area */

  /*Start Footer Area */
  @media only screen and (min-width: 1000px) {
    .l-footer .c-nav--main {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 42px 36px;
      background-color: #202020;
    }

    .l-footer__metadata {
        background-color: #151515;
        color: #fff;
        font-weight: 300;
        padding: 20px;
      }
    /* End Footer Area */
    
    /* Start div Porque usar android en tu empresa */
    @media only screen and (min-width: 1000px) {
        .l-section__intro, .l-section__text {
          padding: 40px 100px;
          background-color: rgba(29,29,30,0.7);
          border-radius: 2px;
        }
      }
    /* End div Porque usar android en tu empresa */

    /* Start Slide Filter images */
   

    /* Start imagen Aprovecha lo mejor de Android */
    .l-section__img_{

    }
    /* End imagen Aprovecha lo mejor de Android */